body {
  background-color: #2d4059;
}
h1, h2 {
  color: white;
  font-family: 'Roboto Slab', serif;
}
a {
  text-decoration: none;
  color: #ea5455;
  font-family: 'Roboto', sans-serif;
  display: block;
  padding-top: 20px;
}
img {
  width: 800px;
  height: 390px;
  border-radius: 10px;
}
.subject-section {
  background-color: #2d4078;
  padding: 50px;
  width: 55%;
  border-radius: 10px;
  transition: width .5s;
}
.subject-section:hover {
  width: 70%;
}
